@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind utilities;

.vibes {
    font-family: 'Great Vibes', cursive;
}

.bg-full {
    @apply w-full h-full bg-cover bg-center;
}

.burger:after {
    content: "\e5d2";
}
nav:has(input:checked) .burger:after {
    content: "\e5cd";
}

body {
    overflow: hidden;

    &.loaded {
        overflow-y: auto;
    }
}

.loaded #name {
    @apply animate-appear;
}

.scrolled nav {
    @apply bg-primary/75;

    & a {
        @apply lg:py-2;
    }
}

.sawed {
    @apply border-2 border-dashed border-white outline outline-8 relative left-2;
    width: calc(100% - 16px);
}

section {
    @apply p-4 container mx-auto;

    &:after {
        content: "";
        @apply block h-4 bg-divider bg-center bg-no-repeat mt-12;
    }

    .title {
        @apply vibes text-4xl;

        &.anchor {
            @apply pt-14 -mt-14;
        }
    }
}

.pics {
    --offset: 1.5rem;
    margin: 0 var(--offset);

    label {
        @apply absolute w-full h-full left-0 top-0 cursor-pointer will-change-transform transition-transform duration-300 motion-reduce:duration-0 z-0 hover:z-10 hover:transition-transform origin-top-left;
        transform: scale(.5) translate(calc(-50% - var(--offset) * 2), 0);
        transition: transform ease .3s, z-index linear 0s .2s;
        transform-origin: center;

        &:has(input:checked) {
            @apply z-20 transform-none overflow-hidden;

            & img {
                @apply transform-none;
            }

            & i {
                @apply opacity-100 duration-500 delay-200;
            }

            & ~ label {
                transform: scale(.5) translate(50%, 0);
            }

            & + label {
                transform: scale(.5) translate(calc(50% + var(--offset) * 2), 0);
            }
        }

        & img {
            @apply absolute w-full h-full left-0 top-0 transition-transform [@media(any-hover:hover){&:hover}]:scale-110;
        }

        & i {
            @apply sawed w-full bottom-8 opacity-0 transition-opacity text-center text-white p-4 bg-primary/75 outline-primary/75;
            @apply !absolute;
            @apply max-lg:bottom-4 max-lg:p-2;
            @apply max-md:outline-0 max-md:border-0 max-md:bottom-0 max-md:left-0 max-md:w-full max-md:p-1;
        }

        &.close {
            @apply z-40;
            transform: none !important;

            &:has(input:checked) {
                @apply hidden;
            }

            & span {
                @apply absolute top-4 right-4 block bg-white rounded-full opacity-50 text-2xl/6 p-1;

                &:hover {
                    @apply opacity-100;
                }
            }
        }
    }

    &:has(.close input:checked) label {
        &:nth-child(1) {
            transform: scale(.5) translate(-50%, -50%);
        }
        &:nth-child(2) {
            transform: scale(.5) translate(50%, -50%);
        }
        &:nth-child(3) {
            transform: scale(.5) translate(-50%, 50%);
        }
        &:nth-child(4) {
            transform: scale(.5) translate(50%, 50%);
        }
        &:nth-child(n+5) {
            transform: scale(0);
        }
        @media (min-width: 640px) {
            &:nth-child(1) {
                transform: scale(.333) translate(-100%, -100%);
            }
            &:nth-child(2) {
                transform: scale(.333) translate(0, -100%);
            }
            &:nth-child(3) {
                transform: scale(.333) translate(100%, -100%);
            }
            &:nth-child(4) {
                transform: scale(.333) translate(-100%, 0);
            }
            &:nth-child(5) {
                transform: scale(.333) translate(0, 0);
            }
            &:nth-child(6) {
                transform: scale(.333) translate(100%, 0);
            }
            &:nth-child(7) {
                transform: scale(.333) translate(-100%, 100%);
            }
            &:nth-child(8) {
                transform: scale(.333) translate(0, 100%);
            }
            &:nth-child(9) {
                transform: scale(.333) translate(100%, 100%);
            }
        }
    }
}

.call-to-action {
    @apply bg-primary sawed m-2 flex gap-1 md:gap-2 outline-primary text-white p-2 px-2 md:px-6 transition-transform hover:-translate-y-0.5 active:translate-y-0;
}
