@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind utilities;

.vibes {
    font-family: 'Great Vibes', cursive;
}

.bg-full {
    @apply w-full h-full bg-cover bg-center;
}

.burger:after {
    content: "\e5d2";
}
nav:has(input:checked) .burger:after {
    content: "\e5cd";
}

body {
    overflow: hidden;

    &.loaded {
        overflow-y: auto;
    }
}

.loaded #name {
    @apply animate-appear;
}

.scrolled nav {
    @apply bg-gray-950/75;

    & a {
        @apply lg:py-2;
    }
}

.sawed {
    @apply border-2 border-dashed border-white outline outline-8;
}

section {
    @apply p-4 container mx-auto;

    &:not(&:last-of-type) {
        @apply min-h-[60vh];
    }

    &:after {
        content: "";
        @apply block h-4 bg-divider bg-center bg-no-repeat mt-8;
    }

    .title {
        @apply vibes text-4xl;

        &.anchor {
            @apply pt-14 -mt-14;
        }
    }
}

.pics label {
    @apply absolute w-full h-full left-0 top-0 cursor-pointer will-change-transform z-0 hover:z-10 hover:transition-transform max-sm:[&:nth-child(n+5)]:hidden origin-top-left;
    transition: transform ease .2s, z-index 0s .2s;

    &:has(input:checked) {
        @apply z-10 transform-none transition-transform overflow-hidden;

        & img {
            @apply transform-none;
        }

        & p {
            @apply opacity-100 duration-500 delay-200;
        }
    }

    & img {
        @apply absolute w-full h-full left-0 top-0 transition-transform [@media(any-hover:hover){&:hover}]:scale-110;
    }

    & p {
        @apply absolute w-full bottom-8 opacity-0 transition-opacity text-center text-white p-4 bg-gray-950/75 outline-gray-950/75 sawed;
    }

    &:nth-child(1) {
        transform: translate(0, 0) scale(.5);
    }
    &:nth-child(2) {
        transform: translate(50%, 0) scale(.5);
    }
    &:nth-child(3) {
        transform: translate(0, 50%) scale(.5);
    }
    &:nth-child(4) {
        transform: translate(50%, 50%) scale(.5);
    }
    @media (min-width: 640px) {
        &:nth-child(1) {
            transform: translate(0, 0) scale(.333);
        }
        &:nth-child(2) {
            transform: translate(33.3%, 0) scale(.333);
        }
        &:nth-child(3) {
            transform: translate(66.6%, 0) scale(.333);
        }
        &:nth-child(4) {
            transform: translate(0, 33.3%) scale(.333);
        }
        &:nth-child(5) {
            transform: translate(33.3%, 33.3%) scale(.333);
        }
        &:nth-child(6) {
            transform: translate(66.6%, 33.3%) scale(.333);
        }
        &:nth-child(7) {
            transform: translate(0, 66.6%) scale(.333);
        }
        &:nth-child(8) {
            transform: translate(33.3%, 66.6%) scale(.333);
        }
        &:nth-child(9) {
            transform: translate(66.6%, 66.6%) scale(.333);
        }
    }
}

.call-to-action {
    @apply bg-gray-950 sawed m-2 flex gap-1 md:gap-2 outline-gray-950 text-white p-2 px-2 md:px-6 transition-transform hover:-translate-y-0.5 active:translate-y-0;
}
